<!--작성자 : 정선아-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>엔라꼬 - 레시피 등록</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--추가 식재료 입력 창을 작업하기 위한 jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--디자인작업을 위한 부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--상세레시피 입력창을 위한 summernote-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <!--추가 식재료 입력 창 띄워주는 스크립트-->
    <script>
        $(document).ready(function() {
            $("#bnt").click(function() {
                $("#inputA").append("<div class=\"row mt-2 mb-1\">" +
                    "                    <div class=\"col-3 mt-2\"></div>\n" +
                    "                    <div class=\"col-9\">\n" +
                    "                        <input type=\"text\" class=\"form-control\" placeholder=\"식재료를 입력해주세요.\" name=\"rselect\">\n" +
                    "                    </div>\n" +
                    "                </div>");
            });
        });
    </script>
    <style>
        #btn btn-orange {
            background-color:rgb(230,128,34);
        }
    </style>
</head>
<body>
<div layout:fragment="content">
<div class="row">
    <div class="col-1 col-lg-3"></div>
    <div class="col-10 col-lg-6">
        <form th:action="@{/recipe/insert}" method="post" enctype="multipart/form-data" th:object="${recipeDTO}">
            <div class="container mt-3"> <!--레시피 입력 창-->
                <h3 class="">레시피 등록</h3>
                <div class="row mt-4 mb-3"> <!--메뉴명 입력 줄-->
                    <div class="col-3 mt-2">
                        <label for="rmenu" class="form-label fw-bold">메뉴명</label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" id="rmenu" placeholder="메뉴명을 입력해주세요." name="rmenu" th:field="*{rmenu}">
                        <p class="text-danger" th:if="${#fields.hasErrors('rmenu')}" th:errors="*{rmenu}"> </p>
                    </div>
                </div>  <!--메뉴명 입력 줄 끝-->
                <div class="row mb-3"> <!--대표사진 입력 줄-->
                    <div class="col-3 mt-2">
                        <label for="rimg" class="form-label">대표 사진</label>
                    </div>
                    <div class="col-9">
                        <input type="file" class="form-control" id="rimg" name="imgFile">
                    </div>
                </div>  <!--대표사진 입력 줄 끝-->

                <div class="row mt-1 mb-1"> <!--식재료 입력 줄-->
                    <div class="col-3 mt-2">
                        <label for="rselect" class="form-label">식재료</label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" id="rselect" placeholder="식재료를 입력해주세요." name="rselect" th:field="*{rselect}">
                    </div>
                </div>  <!--식재료 입력 줄 끝-->
                <div id="inputA">
                    <div class="row"> <!--추가 식재료 입력 줄-->
                        <div class="col-3 mt-2"></div>
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="식재료를 입력해주세요." name="rselect" th:field="*{rselect}">
                        </div>
                    </div>  <!--추가 식재료 입력 줄 끝-->
                </div>
                <div class="row mt-3">  <!--식재료 입력창 추가 버튼-->
                    <div class="col-3"></div>
                    <div class="col-9">
                        <button type="button" id="bnt" class="btn btn-dark d-flex justify-content-end">추가</button>
                    </div>
                </div>  <!--식재료 입력창 추가 버튼 끝-->
                <div class="row mt-1 mb-1"> <!--상세레시피 입력 줄-->
                    <label for="rselect" class="form-label">상세 레시피</label>
                </div>
                <div class="row mt-1 mb-1">
                    <textarea id="summernote" th:field="*{rcontent}"></textarea>
                    <script>
                        $('#summernote').summernote({
                            placeholder: '텍스트를 입력하거나 사진을 첨부해 주세요.',
                            tabsize: 2,
                            height: 500,
                            toolbar: [
                                ['style', ['style']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });
                    </script>
                    <div class="row mt-3 mb-3">
                        <div class="col-sm-5">
                            <select class="form-select" name="rtime" th:field="*{rtime}">
                                <option th:value="0" th:selected th:disabled="${someCondition}" >조리 시간</option>
                                <option th:value="1">간단(10분 이내)</option>
                                <option th:value="2">정성(20분 이내)</option>
                                <option th:value="3">고수(30분 이상)</option>
                            </select>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <select class="form-select" name="rclass" th:field="*{rclass}">
                                <option th:value="0" th:selected th:disabled="${someCondition}">분류</option>
                                <option th:value="1">한끼 뚝딱</option>
                                <option th:value="2">면류</option>
                                <option th:value="3">반찬</option>
                                <option th:value="4">디저트</option>
                                <option th:value="5">찌개/국</option>
                                <option th:value="6">인스턴트</option>
                            </select>
                        </div>
                    </div>

                </div>  <!--상세레시피 입력 줄 끝-->
            </div> <!--레시피 입력 창 끝-->
            <div class="row mt-3 mb-5">
                <div class="col-sm-9 col-lg-10"></div>
                <div class="col-sm-3 col-lg-2 d-flex justify-content-end">
                    <button type="submit" class="btn text-white fw-bold" style="background-color:#f7931e">등록</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-1 col-lg-3"></div>
</div>
</div>
</body>
</html>