<!-- 프로젝트명 : enlaco
     파일명    : 레시피 목록 recipe/list.html
     작성자    : 강규진
     작성일    : 2023-11-12 17:00
     TODO     :
     FixMe    :
     -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>엔라꼬</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--[if IE 7]-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome-ie7.min.css">
    <!--[endif]-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 리스트 카드형식 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container mt-3">
                <div class="text-lg-end">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn text-white mb-3" style="background-color: #E67E22" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        자세히
                    </button>
                </div>
                <form th:action="@{/recipe/listClass}" method="get">
                    <!-- The Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <!-- 조리 시간 -->
                                            <h4>조리 시간</h4>

                                            <input type="hidden" name="page" value="1">
                                            <div>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="rtime1" name="rtime" value="1" th:selected="${rtime=='1'}" >간단(10분 이내)
                                                    <label class="form-check-label" for="rtime1"></label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="rtime2" name="rtime" value="2" th:selected="${rtime=='2'}">정성(20분 이내)
                                                    <label class="form-check-label" for="rtime2"></label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="rtime3" name="rtime" value="3" th:selected="${ritme=='3'}">고수(30분 이상)
                                                    <label class="form-check-label" for="rtime3"></label>
                                                </div>
                                            </div>
                                            <!-- 조리 시간 끝-->
                                            <div class="col-md-4 ms-auto"></div>
                                            <hr>
                                            <!-- 요리별 분류 -->
                                            <h4>분류</h4>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="rclass1" name="rclass" value="1" th:selected="${rclass=='1'}" >한끼 뚝딱
                                                <label class="form-check-label" for="rclass1"></label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="rclass2" name="rclass" value="2" th:selected="${rclass=='2'}">면류
                                                <label class="form-check-label" for="rclass2"></label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="rclass3" name="rclass" value="3" th:selected="${rclass=='3'}">반찬
                                                <label class="form-check-label" for="rclass3"></label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="rclass4" name="rclass" value="4" th:selected="${rclass=='4'}">디저트
                                                <label class="form-check-label" for="rclass4"></label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="rclass5" name="rclass" value="5" th:selected="${rclass=='5'}">찌개/국
                                                <label class="form-check-label" for="rclass5"></label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="rclass6" name="rclass" value="6" th:selected="${rclass=='6'}">인스턴트
                                                <label class="form-check-label" for="rclass6"></label>
                                            </div>

                                            <!-- 요리별 분류 끝 -->
                                        </div>
                                        <div class="col-md-4 ms-auto"></div>
                                    </div>
                                </div> <!-- Modal body 끝-->
                                <div class="modal-footer">
                                    <div class="text-lg-end">
                                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">설정</button>
                                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>메뉴명</th>
                        <th>작성자</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer" th:onclick="|location.href='@{/recipe/detail(rid=${data.rid})}'|" th:if="recipeDTO" th:each="data:${recipeDTOS}">
                        <td> <img th:src="|/images/image/@{${data.rimg}}|" width="150" height="100"> </td>
                        <td th:text="${data.rmenu}">김치찌개</td>
                        <td th:text="${data.rwriter}">작성자1</td>
                        <td th:text="${data.rviewcnt}">10</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-lg-end">
                    <button type="button" class="btn text-white" style="background-color: #E67E22" onclick="location.href='/recipe/insert'">글쓰기</button>
                </div>

                <ul class="pagination justify-content-center" style="margin:20px 0">
                    <li class="page-item" th:if="${startPage != 1}">
                        <a class="page-link" th:href="@{/recipe/list(page=1,keyword=${keyword})}">first</a>
                    </li>
                    <li class="page-item" th:if="${curPage != 1}">
                        <a class="page-link" th:href="@{/recipe/list(page=${prevPage},keyword=${keyword})}">prev</a>
                    </li>

                    <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                        <li class="page-item" th:if="${page != curPage}">  <!--현재 페이지가 아니면-->
                            <a class="page-link" th:href="@{/recipe/list(page=${page},keyword=${keyword})}">[[${page}]]</a>
                        </li>
                        <li class="page-item active" th:if="${page == curPage}">  <!--현재 페이지 이면-->
                            <a class="page-link" style="background-color: #E67E22" href="#">[[${page}]]</a>
                        </li>
                    </span>

                    <li class="page-item" th:if="${curPage != lastPage}">
                        <a class="page-link" th:href="@{/recipe/list(page=${nextPage},keyword=${keyword})}">next</a>
                    </li>
                    <li class="page-item" th:if="${endPage != lastPage}">
                        <a class="page-link" th:href="@{/recipe/list(page=${lastPage},keyword=${keyword})}">last</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

</body>
</html>