<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
<div class="row">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8 mt-3">
        <h3>식재료 상세</h3>
        <div class="mb-3 mt-3 row">
            <!--식재료명-->
            <div class="col-3">
                <label for="email" class="form-label mt-1">식재료명</label>
            </div>
            <div class="col-9">
                <input type="email" class="form-control" id="name" placeholder="식재료명을 입력해주세요" name="email">
            </div>
            <!--식재료명 긑-->
        </div>
        <div class="mb-3 mt-3 row">
            <!--유통기한-->
            <div class="col-3">
                <label for="email" class="form-label mt-1">유통기한</label>
            </div>
            <div class="col-9">
                <input type="email" class="form-control" id="email" placeholder="--년--월--일" name="email">
            </div>
            <!--유통기한 끋-->
        </div>
        <!--등록 버튼-->
        <div class="mb-3 mt-1">
            <div class="row">
                <div class="col text-lg-end text-sm-end text-end">
                    <button class="btn text-white" type="button" style="background-color: #ffb30e;" onclick="location.href='/material/modify'">수정</button>
                    <button class="btn text-white" type="button" style="background-color: #f7931e; margin-left: 3%" onclick="location.href='/material/remove'">삭제</button>
                    <button class="btn text-white" type="reset" style="background-color:#E67E22; margin-left: 3%">취소</button>
                </div>
            </div>

        </div>
        <!--등록 버튼끝-->
    </div>
    <div class="col-1 col-md-2"></div>
</div>
</div>
</body>
</html>