
<!-- 프로젝트명 : enlaco
     파일명    : 메인페이지
     작성자    : 강규진
     작성일    : 2023-11-14 10:26
     TODO     :
     FixMe    :
     -->
<!DOCTYPE html>
<html lang="en-US" dir="ltr"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Mohamuck</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/css/theme.css" rel="stylesheet" />
<style>
    .card-span{
    width: 100%;
        height: 100%;
    }
    .card-span:hover{
    width: 110%;
        height: 110%;
    }

</style>
</head>


<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" th:href="@{/start}"><img class="d-inline-block" src="assets/img/gallery/logo.svg" alt="logo" /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient">모해먹</span></a>


            <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0 align-self-end">

                <button class="btn btn-white shadow-warning border-warning text-center" style="color: #f7931e; box-shadow: #f7931e" type="button" sec:authorize="isAnonymous()" onclick="location.href='/member/login'"> <i class="fas fa-user"></i>로그인</button>
                <button class="btn btn-white shadow-warning border-warning text-center" style="color: #f7931e; box-shadow: #f7931e; margin-left: 10px" type="button" sec:authorize="isAnonymous()" onclick="location.href='/member/insert'"> <i class="fas fa-user"></i>회원가입</button>
                <button class="btn btn-white shadow-warning border-warning text-center" style="color: #f7931e; box-shadow: #f7931e" sec:authorize="isAuthenticated()" type="button" onclick="location.href='/member/logout'"> <i class="fas fa-user"></i>로그아웃</button>

            </form>

        </div>
    </nav>
    <section class="py-5 overflow-hidden bg-primary" id="home">
        <div class="container">
            <div class="row flex-center">
                <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8"><!-- Carousel -->
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" style="background-color: white; width: 40px; height: 10px" data-bs-target="#demo"  data-bs-slide-to="0" class="active"></button>
                            <button type="button" style="background-color: white; width: 40px; height: 10px" data-bs-target="#demo"  data-bs-slide-to="1"></button>
                            <button type="button" style="background-color: white; width: 40px; height: 10px" data-bs-target="#demo"  data-bs-slide-to="2"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="assets/img/gallery/hero-header.png" onclick="location.href='#'" style="cursor: pointer" alt="Los Angeles" class="d-block w-100">
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="assets/img/gallery/pngwing.com.png" onclick="location.href='#'" style="cursor: pointer" alt="Chicago" class="d-block w-100">
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="assets/img/gallery/pngwing1.com.png" onclick="location.href='#'" style="cursor: pointer" alt="New York" class="d-block w-100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
                    <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light"><i>엔라꼬란?</i></h1>
                    <h1 class="text-800 mb-5 fs-4">엔라꼬란 스페인어로 주방이란 뜻의 En la cocina 를 줄여 만든 단어입니다.<br class="d-none d-xxl-block" />엔라꼬와 함께 주방관리를 해보세요!</h1>

                </div>
            </div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0">

        <div class="container">
            <div class="row h-200 mt-7">
                <div class="col-sm-3 col-lg-3  mb-6 mb-md-0 h-200 pb-4 ms-4 me-4">
                    <div class="card card-span h-200">
                        <div class="position-relative">
                            <img  class="img-fluid rounded-circle w-100" src="assets/img/gallery/discount-item-3.png" alt="..."/>
                           <div class="mt-6">
                            <div class="card-actions">
                                <div class="d-flex justify-content-center">
                                    <div class="badge badge-foodwagon p-3" style="background-color: #f7931e">
                                        <div class="d-flex flex-between-center">
                                            <div class="text-white fs-3 mt-2">&nbsp;레시피&nbsp;&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <a class="stretched-link" href="/recipe/list"></a>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3 mb-6 mb-md-0 h-100 pb-4 ms-4 me-4">
                    <div class="card card-span h-100 ">
                        <div class="position-relative"> <img class="img-fluid rounded-circle w-100 hover-effect" src="assets/img/gallery/discount-item-1.png" alt="..."/>
                           <div class="mt-6">
                                <div class="card-actions">
                                    <div class="d-flex justify-content-center">
                                    <div class="badge badge-foodwagon p-3"style="background-color: #f7931e">
                                        <div class="d-flex flex-between-center">
                                            <div class="text-white fs-1 fw-bold">식재료</div>
                                            <div class="fw-normal fs-0 mt-2">등록</div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <a class="stretched-link" th:href="@{/storage/insert}"></a>
                    </div>
                </div>

                <div class="col-sm-3 col-lg-3 mb-6 mb-md-0 h-100 pb-4 ms-4 me-4">
                     <div class="card card-span h-100">
                        <div class="position-relative"> <img class="img-fluid rounded-circle w-100 hover-effect" src="assets/img/gallery/discount-item-6.png" alt="..."/>
                            <div class="mt-6">
                                <div class="card-actions">
                                    <div class="d-flex justify-content-center">
                                        <div class="badge badge-foodwagon p-3" style="background-color: #f7931e">
                                            <div class="d-flex flex-between-center">
                                                <div class="text-white fs-1 fw-bold">냉장고</div>
                                                <div class="fw-normal fs-0 mt-2">보기</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="stretched-link" th:href="@{/storage/list}"></a>
                    </div>
                </div>

            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<div class="mt-5 p-4 bg-light text-black text-center">
    <p>Copyright ⓒ 2023 ENLACO All Rights Reserved.</p>
</div>





<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
</body>

</html>