<!-- 프로젝트명 : enlaco
     파일명    : 메인페이지
     작성자    : 강규진
     작성일    : 2023-11-14 10:26
     TODO     :
     FixMe    :
     -->
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Enlaco</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../static/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../static/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/css/theme.css" rel="stylesheet" />

</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="index.html"><img class="d-inline-block" src="assets/img/gallery/logo.svg" alt="logo" /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient">엔라꼬</span></a>


                <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0 align-self-end">

                    <button class="btn btn-white shadow-warning text-warning" type="submit"> <i class="fas fa-user me-2"></i>Login</button>

                </form>

        </div>
    </nav>
    <section class="py-5 overflow-hidden bg-primary" id="home">
        <div class="container">
            <div class="row flex-center">
                <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner" href="#!"><img class="img-fluid" src="assets/img/gallery/hero-header.png" alt="hero-header" /></a></div>
                <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
                    <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">엔라꼬란?</h1>
                    <h1 class="text-800 mb-5 fs-4">엔라꼬란 스페인어로 주방이란 뜻의 enla~~ 를 줄여 만든 단어입니다.<br class="d-none d-xxl-block" />엔라꼬와 함께 주방관리를 해보세요!</h1>

                </div>
            </div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0">

        <div class="container">
            <div class="row h-100 gx-2 mt-7">
                <div class="col-sm-8 col-lg-3 mb-3 ms-4 me-4 mb-md-0 h-100 pb-4">
                    <div class="card card-span h-100">
                        <div class="position-relative"> <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-3.png" alt="..." />
                            <div class="card-actions">
                                <div class="badge badge-foodwagon bg-primary p-3">
                                    <div class="d-flex flex-between-center">
                                        <div class="text-white fs-3 mt-2">&nbsp;레시피&nbsp;&nbsp;</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="stretched-link" href="#"></a>
                    </div>
                </div>
                <div class="col-sm-8 col-lg-3 mb-3 mb-md-0 h-100 pb-4 ms-4 me-4">
                    <div class="card card-span h-100">
                        <div class="position-relative"> <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-1.png" alt="..." />
                            <div class="card-actions">
                                <div class="badge badge-foodwagon bg-primary p-3">
                                    <div class="d-flex flex-between-center">
                                        <div class="text-white fs-1 fw-bold">식재료</div>
                                        <div class="fw-normal fs-0 mt-2">등록</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="stretched-link" href="#"></a>
                    </div>
                </div>
                <div class="col-sm-8 col-lg-3 mb-3 mb-md-0 h-100 pb-4 ms-4 me-5">
                    <div class="card card-span h-100">
                        <div class="position-relative"> <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-6.png" alt="..." />
                            <div class="card-actions">
                                <div class="badge badge-foodwagon bg-primary p-3 ">
                                    <div class="d-flex flex-between-center">
                                        <div class="text-white fs-1 fw-bold">냉장고</div>
                                        <div class="fw-normal fs-0 mt-2">보기</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="stretched-link" href="#"></a>
                    </div>
                </div>

            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->






<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
</body>

</html>